<?xml version="1.0"?>
<config>
    <modules>
        <JoomlArt_JmProducts>
            <version>1.0.3</version>
        </JoomlArt_JmProducts>
    </modules>
    <frontend>
        <routers>
            <jmproducts>
                <use>standard</use>
                <args>
                    <module>JoomlArt_JmProducts</module>
                    <frontName>jmproducts</frontName>
                </args>
            </jmproducts>
        </routers>
        <translate>
            <modules>
                <JoomlArt_JmProducts>
                    <files>
                        <default>JoomlArt_JmProducts.csv</default>
                    </files>
                </JoomlArt_JmProducts>
            </modules>
        </translate>
        <layout>
            <updates>
                <jmproducts>
                    <file>jmproducts.xml</file>
                </jmproducts>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <joomlart_jmproducts>
                <class>JoomlArt_JmProducts_Block</class>
            </joomlart_jmproducts>
        </blocks>
        <models>
            <joomlart_jmproducts>
                <class>JoomlArt_JmProducts_Model</class>
            </joomlart_jmproducts>
        </models>
        <helpers>
            <joomlart_jmproducts>
                <class>JoomlArt_JmProducts_Helper</class>
            </joomlart_jmproducts>
        </helpers>
        <resources>
            <jmproducts_setup>
                <setup>
                    <module>JoomlArt_JmProducts</module>
                    <class>JoomlArt_JmProducts_Model_Resource_Setup</class>
                </setup>
            </jmproducts_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JoomlArt_JmProducts before="Mage_Adminhtml">JoomlArt_JmProducts</JoomlArt_JmProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <joomlart>
                <title>JoomlArt</title>
                <sort_order>100</sort_order>
                <children>
                    <jmproducts>
                        <title>JM Products</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/system_config/edit/section/joomlart_jmproducts</action>
                    </jmproducts>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
        <translate>
            <modules>
                <JoomlArt_JmProducts>
                    <files>
                        <default>Joomlart_JmProducts.csv</default>
                    </files>
                </JoomlArt_JmProducts>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <joomlart_jmproducts>
            <joomlart_jmproducts>
                <show>1</show>
                <mode>latest</mode>
                <title>JM Product List</title>
                <quanlity></quanlity>
                <quanlityperpage>5</quanlityperpage>
                <quanlitytableportrait>4</quanlitytableportrait>
                <quanlitymobileportrait>2</quanlitymobileportrait>
                <quanlitymobile>5</quanlitymobile>
                <quanlityperpagemobile>5</quanlityperpagemobile>
                <qtyperpagemobile>5</qtyperpagemobile>
                <template>joomlart/jmproducts/list.phtml</template>
                <perrow>5</perrow>
                <width>135</width>
                <height>135</height>
                <max>0</max>
                <widthtable>135</widthtable>
                <heighttable>135</heighttable>
                <quanlitytable>8</quanlitytable>
                <quanlityperpagetable>6</quanlityperpagetable>
                <perrowtablet>3</perrowtablet>
                <widthmobile>135</widthmobile>
                <heightmobile>135</heightmobile>
                <perrowmobile>2</perrowmobile>
                <perrowmobileportrait>1</perrowmobileportrait>
                <display_style>normal</display_style>
                <ajaxloadmore>0</ajaxloadmore>
                <ajaxloadmoremobile>0</ajaxloadmoremobile>
                <ajaxloadmoretable>0</ajaxloadmoretable>
                <accordionslider>0</accordionslider>
                <slider>0</slider>
                <landing_width>400</landing_width>
                <landing_height>300</landing_height>
                <slide_auto>1</slide_auto>
                <slide_duration>3000</slide_duration>
                <slide_transition>ltr</slide_transition>
            </joomlart_jmproducts>
        </joomlart_jmproducts>
    </default>

</config>  