<?xml version="1.0"?>
<config>
    <modules>
        <Wavethemes_Jmbasetheme>
            <version>0.1.1</version>
        </Wavethemes_Jmbasetheme>
    </modules>
    <frontend>
        <routers>
            <jmbasetheme>
                <use>standard</use>
                <args>
                    <module>Wavethemes_Jmbasetheme</module>
                    <frontName>jmbasetheme</frontName>
                </args>
            </jmbasetheme>
        </routers>
        <layout>
            <updates>
                <jmbasetheme>
                    <file>jmbasetheme.xml</file>
                </jmbasetheme>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <wavethemes_jmbasetheme>
                        <class>Wavethemes_Jmbasetheme_Model_Observer</class>
                        <method>extendConfig</method>
                    </wavethemes_jmbasetheme>
                </observers>
            </adminhtml_init_system_config>
            <admin_system_config_section_save_after>
                <observers>
                    <wavethemes_jmbasetheme_generatecss>
                        <class>Wavethemes_Jmbasetheme_Model_Observer</class>
                        <method>generateProfileCSS</method>
                    </wavethemes_jmbasetheme_generatecss>
                </observers>
            </admin_system_config_section_save_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <wavethemes_jmbasetheme>
                        <class>Wavethemes_Jmbasetheme_Model_Observer</class>
                        <method>resetToolbar</method>
                    </wavethemes_jmbasetheme>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <helpers>
            <jmbasetheme>
                <class>Wavethemes_Jmbasetheme_Helper</class>
            </jmbasetheme>
        </helpers>
        <blocks>
            <jmbasetheme>
                <class>Wavethemes_Jmbasetheme_Block</class>
            </jmbasetheme>
        </blocks>
        <models>
            <jmbasetheme>
                <class>Wavethemes_Jmbasetheme_Model</class>
            </jmbasetheme>
        </models>
    </global>
    <admin>
        <routers>
            <jmbasetheme>
                <use>admin</use>
                <args>
                    <module>Wavethemes_Jmbasetheme</module>
                    <frontName>jmbasetheme</frontName>
                </args>
            </jmbasetheme>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <joomlart>
                <title>JoomlArt</title>
                <sort_order>9999</sort_order>
                <children>
                    <jmbasetheme module="jmbasetheme">
                        <title>JM Base Theme Settings</title>
                        <sort_order>9999</sort_order>
                        <action>adminhtml/system_config/edit/section/wavethemes_jmbasetheme</action>
                    </jmbasetheme>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
        <layout>
            <updates>
                <jmbasetheme>
                    <file>jmbasetheme.xml</file>
                </jmbasetheme>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wavethemes_Jmbasetheme>
                    <files>
                        <default>Wavethemes_Jmbasetheme.csv</default>
                    </files>
                </Wavethemes_Jmbasetheme>
            </modules>
        </translate>
    </adminhtml>
</config> 